/// ---------------------------
// Fichier comportant les déclarations des variables utilisées dans le projet.
/// ----------------------------------------
/// Nom : Dalyane Bélanger
/// Matricule : 1678345
/// Description : 
/// -----------------------------------------
/// Nom : 
/// Matricule : 
/// Description :
/// ------------------------------------------
/// 


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Variables déclarées
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

:root {
    --beige: #d5bea6;
    --rouge-fonce: #924735;
    --rouge-pale: #a76454;
    --bleu-pale: #C1D5E2;
    --bleu-fonce: #476c85;
    --brun: #35220D;
    --noir: #000;
    --blanc: #fff;
    --gris-pale: #656565;
    --gris: #3c3c3c;
    --gris-fonce: #282828;
}